

h1{
    color: red;
    margin-left: 498px;
    font-family: 'Times New Roman', Times, serif;

}

.btn {
    margin-left: 626px;
    margin-top: 21px;
}

.search {
    width: 600px;
    margin-left: 375px;
    margin-top: 197px;
    
   
}